@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: hsl(0, 0%, 94%);
    font-family: "Poppins", sans-serif;
    margin: auto;
    justify-content: center;
}

.box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px 15px 135px 15px;
    margin: 10% 22%;
}

.form {
    color: #716f6f;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 5% 5% 0 5%;
    letter-spacing: 2px;
}

label {
    font-weight: 700;
    font-size: 8px;
}

input {
    font-weight: 800;
    font-size: 16px;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    width: 70px;
    padding: 10%;
}

input:focus {
    border-color: hsl(259, 100%, 65%);
}

.error_empty_day, .error_empty_month, .error_empty_year, .error_validate_day, .error_validate_month, .error_validate_year {
    display: none;
    color: #ff5757;
    letter-spacing: 0px;
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
}

.container_button {
    display: flex;
    flex-direction: row;
    padding: 0 6%;
}

hr {
    margin: auto;
    width:100%;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
    border: none;
}

button {
    border: none;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
}

button:focus {
    background-color: hsl(0, 0%, 8%);
}

img {
    width: 32px;
}

p {
    color: hsl(0, 0%, 8%);
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    padding: 0 0 0 6%;
    margin: 0;
    line-height: 100%;
}

.answer {
    color: hsl(259, 100%, 65%);
}

footer {
    font-size: 11px; text-align: center;
    position: absolute;
    bottom: 0;
}

footer a {
    color: hsl(228, 45%, 44%);
}

/*- Light red: hsl(0, 100%, 67%)
- light grey: hsl(0, 0%, 86%) 
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)
